*{ /*selector universal*/
    margin: 0;
    padding: 0;
    color:aquamarine;
    font-size: 10px;

}

/*selector de etiqueta*/

h1{
    color: blue;
    margin: 10px;
    font-size: 30px;
}
h2{
    font-size: 25px;
    color:orange;
    margin:15px;
}
p{
    font-size: 25px;
}
.texto{ /*Selector de clase*/
    font-size: 30px;
    color: blueviolet;
}

#valor, #valor1{ /*Selector de identificación*/
    color: brown;
    font-size: 25px;
    font-family: Arial;
}

div{
    margin: 50px auto;
    width: 400px;
    border-style:solid;
}
div > p{/*Selector hijo*/
    font-size: 15px;
    color: orangered;
}

