*{
    margin: 0;
    padding: 0;
}
h1{
    color: #424269;
    text-align: center;
}
.caja{
    width: 220px;
    height: 700px;
    background-color: #f8f4f1;
    margin: 30px auto;
    padding: 10px;
}
.caja >img{
  margin: 10px;
}
.caja >h2{
    color: #5050f0;
}
.caja >p{
    margin-bottom: 10px;
    color: cadetblue;
    font-family: Georgia;
    text-align: justify;
}
p >span{
    color: black;
}